<!DOCTYPE html>
<html lang="<%= config.language %>">
  <%- partial('partials/head') %>
  <body>
    <!-- <a
      class="github-fork-ribbon"
      href="https://scon.io/resume.pdf"
      title="Open to work"
      data-ribbon="Open to work"
      >Open to work</a
    > -->
    <div id="blog-wrap">
      <%- partial('partials/wheelspin') %> <%- partial('partials/header') %>
      <div id="header-horizon"></div>

      <main>
        <div id="blog-content"><%- body %></div>
      </main>

      <div id="footer-horizon"></div>
      <%- partial('partials/footer') %> <%- partial('partials/after-footer') %>
    </div>
  </body>
</html>
